/* Navigation bar */
nav {
  display: flex;
  background-color: #ff7700;
  align-items: center;
  padding: 25px 20px;
  border-radius: 6px 6px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.main-nav-links {
  margin: 0 9px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-size: 0.75rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}
